:root {
    --primary: rgb(221, 221, 221);
    --secondary: rgb(48, 48, 48);
}


html, body {
    padding: 0;
    margin: 0;
}

*{
    box-sizing: border-box;
}

body {
    background-image: url("../src/img.jpg"); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;
    background-position: center;
}

#content {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8), transparent 50%);
}

.viewheight{
    width: 100vw;
    height: 100vh;
}

.percentage{
    width: 100%;
    height: 100%;
}


header {
    display: flex; flex-direction: row; justify-content: space-between; align-items: center;
    padding: 0 10%;
    position: sticky;
    top: 0;
    font-family: 'Poppins', sans-serif;

}

h1{
    cursor: pointer;
    font-family: 'Josefin Sans';
}

a{
    text-decoration: none;
    color: var(--primary);
}

a:hover {
    text-underline-offset: 10px;
    transform: translateY(-10%);
    transition: transform 0.3s;
}

h1 > a:hover {
    text-decoration: underline;
    text-decoration-color: var(--secondary);
    text-decoration-thickness: 6px;
}

#links{
    display: flex; justify-content: space-evenly; gap: 35%;
    margin-right: 100px;
}

.link{

    cursor: pointer;
}

.link:hover{
    text-decoration: underline;
    text-decoration-color: var(--primary);
    text-decoration-thickness: 6px;

}

h2 {
    position: absolute; right: 8%; top: 55%;left: 70.5%;
    font-size: 2.3rem; font-weight:; font-family: 'Lobster', sans-serif;
    color: var(--secondary);
}


h2 > a {
    font-size: 1.1rem;
    cursor: pointer;
    color: var(--secondary);
}

h2 > a:hover {
    color: white;
    font-size: 1.2rem;
}


#menu, #contact{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    font-family: 'Poppins';

}


#menu > h3 {
    font-size: 2.5rem;
    font-family: 'Poppins', sans-serif;
    text-shadow: 9px 8px 0px rgba(0,0,0,0.15);        
    color: var(--secondary);
    text-decoration: underline;
}

#menu > h5{
    color: var(--secondary);
    font-size: medium;
    font-family: 'Poppins', sans-serif;
    text-shadow: 2px 0 var(--primary), -2px 0 var(--primary), 0 2px var(--primary), 0 -2px var(--primary), 1px 1px var(--primary), -1px -1px var(--primary), 1px -1px var(--primary), -1px 1px var(--primary);

}

#contact{
    padding-top: 15px;
    gap: 25px;
}

#contact > * {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--secondary);
}

