:root {
    --primary: #c8c8c8;
    --secondary: #303030;
}


html, body {
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background-image: url("./assets/img.avif"); background-repeat: no-repeat; background-size: cover; background-attachment: fixed;
    background-position: center;
}

#content {
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.8), transparent 50%);
    width:100vw;
    height: 100vh;

}

header *{
    font-family: 'Poppins', sans-serif;
}

header h1{
    color: var(--primary);
    cursor: pointer;
}

.link{
    color: rgb(183, 180, 180);
    cursor: pointer;
}

header {
    display: flex; flex-direction: row; justify-content: space-between; align-items: center;
    padding: 0 10%;
    position: sticky;
    top: 0;
}

#links{
    display: flex; justify-content: space-evenly; gap: 15%;
}

.link:hover, h1:hover {
    text-decoration: underline;
    text-decoration-color: var(--secondary);
    text-decoration-thickness: 6px;
}

#content {
    position: relative;
}

main {
    border: 5px solid green;
}

h2 {
    position: absolute;
    right: 5%;
    top: 55%;
    left: 70.5%;
    font-size: 2.3rem;
    font-weight: 100;
    font-family: 'Alfa Slab One';
    color: var(--secondary);
}


h2 > a {
    font-size: 1.1rem;
    cursor: pointer;
}

h2 > a:hover {
    color: var(--primary);
    font-size: 1.2rem;
}


